<!DOCTYPE html>
<!-- Created by CodingLab |www.youtube.com/c/CodingLabYT-->
<html lang="en" dir="ltr">

<head>
    <meta charset="UTF-8">
    <title>Abasyn - University</title>
    <!--<title> Login and Registration Form in HTML & CSS | CodingLab </title>-->
    <link rel="stylesheet" href="/static/style.css">
    <!-- Fontawesome CDN Link -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="static/Images/ocr.png" type="/static/Images/ocr.png" sizes="16x16">
</head>

<body>
    <div class="container">
        <input type="checkbox" id="flip">
        <div class="cover">
            <div class="front">
                <img src="/static/images/download.jpg" alt="">
                <div class="text">
                    <span class="text-1">Automatic Student Information<br>
                        Retriver System</span>
                    <span class="text-2">Let's go</span>
                </div>
            </div>
            <div class="back">
                <img class="backImg" src="/static/images/backImg.jpg" alt="">
                <div class="text">
                    <span class="text-1">Complete miles of journey <br> with one step</span>
                    <span class="text-2">Let's get started</span>
                </div>
            </div>
        </div>
        <div class="forms">
            <div class="form-content">
                <div class="login-form">
                    <a href="index.html"> <img src="/static/Images/abasy-uni-logo.png" alt="" width="100px" height="100px" style="margin-top: -200px;"></a>
                    <div class="title">Form Submit.</div>
                    <form method ="post" enctype="multipart/form-data">
                        {% csrf_token %}

                        <div class="input-boxes">
                            <div class=" enter-id">Choose your id card.</div>
                            <div class="file-upload" style="margin-top: 5px;">
                                <div class="file-select">
                                    <div class="file-select-button" id="fileName">Choose File</div>
                                    <div class="file-select-name" id="idCard_noFile">No file chosen...</div>
                                    <input type="file" name="idCard" required id="idCard" onchange="updateIdCardFileName()">
                                </div>
                            </div>
                            <div class=" enter-id" style="margin-top: 10px;">Choose your Matric Sanat.</div>
                            <div class="file-upload" style="margin-top: 5px;">
                                <div class="file-select">
                                    <div class="file-select-button" id="fileName">Choose File</div>
                                    <div class="file-select-name" id="matricSanat_noFile">No file chosen...</div>
                                    <input type="file" name="matricSanat" id="matricSanat" onchange="updateMatricFileName()">
                                </div>
                            </div>
                            <div class=" enter-id" style="margin-top: 10px;">Choose your Fsc Sanat.</div>
                            <div class="file-upload" style="margin-top: 5px;">
                                <div class="file-select">
                                    <div class="file-select-button" id="fileName">Choose File</div>
                                    <div class="file-select-name" id="fscSanat_noFile">No file chosen...</div>
                                    <input type="file" name="fscSanat" id="fscSanat" onchange="updateFscSanatFileName()">
                                </div>
                            </div>
                            <div style="display: flex; align-items: center; gap: 8px; margin-top: 10px;">
                            <label for="master" class="enter-id">Apply as a Master</label>
                            <div class="">
                                <input id="master" type="checkbox" onclick="toggleDivDisplay()">
                            </div>
                        </div>

                        <div id="as_master_div_id" class="as_master_div" style="display: none;">

                        <div>
                        <div class=" enter-id" style="margin-top: 10px;">Enter CGPA.</div>
                        <div class="file-upload" style="margin-top: 5px;">
                        <input class="file-select" type="number" name="cgpa" id="cgpa" placeholder="Enter CGPA" style="width: 100%; padding-left: 10px;">
                        </div>
                        </div>

                        <div>
                        <div class=" enter-id" style="margin-top: 10px;">Enter University Master Program</div>
                        <div class="file-upload" style="margin-top: 5px;">
                        <input class="file-select" type="text" name="master_program" id="master_program" placeholder="Enter University Master Program" style="width: 100%; padding-left: 10px;">
                        </div>
                        </div>

                        <div>
                        <div class=" enter-id" style="margin-top: 10px;">Enter Year</div>
                        <div class="file-upload" style="margin-top: 5px;">
                        <input class="file-select" type="text" name="user_year" id="user_year" placeholder="Enter Year" style="width: 100%; padding: 0 10px;">
                        </div>
                        </div>

                        </div>


                        <script>
                            function toggleDivDisplay() {
                                var checkbox = document.getElementById("master");
                                var asMasterDiv = document.getElementById("as_master_div_id");
                        
                                if (checkbox.checked) {
                                    asMasterDiv.style.display = "block";
                                } else {
                                    asMasterDiv.style.display = "none";
                                }
                            }
                        </script>

                            <!-- <div class=" enter-id" style="margin-top: 10px;">Choose your Bs Sanat.</div>
                            <div class="file-upload" style="margin-top: 5px;">
                                <div class="file-select">
                                    <div class="file-select-button" id="fileName">Choose File</div>
                                    <div class="file-select-name" id="noFile">No file chosen...</div>
                                    <input type="file" name="chooseFile" id="chooseFile">
                                </div>
                            </div> -->
                            <div class="button input-box">
                                <!-- <a href="submit.html" class="submit-btn">Submit</a> -->
                                <input type="submit" value="Submit" class="submit-btn"> 
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>


    <script>
        function updateIdCardFileName() {
        var fileInput = document.getElementById('idCard');
        var fileNameDisplay = document.getElementById('idCard_noFile');

        if (fileInput.files.length > 0) {
            // Update the display with the selected file name
            fileNameDisplay.textContent = fileInput.files[0].name;
        } else {
            // No file chosen, display the default message
            fileNameDisplay.textContent = 'No file chosen...';
        }
    }

    function updateMatricFileName() {
        var fileInput = document.getElementById('matricSanat');
        var fileNameDisplay = document.getElementById('matricSanat_noFile');

        if (fileInput.files.length > 0) {
            // Update the display with the selected file name
            fileNameDisplay.textContent = fileInput.files[0].name;
        } else {
            // No file chosen, display the default message
            fileNameDisplay.textContent = 'No file chosen...';
        }
    }

    function updateFscSanatFileName() {
        var fileInput = document.getElementById('fscSanat');
        var fileNameDisplay = document.getElementById('fscSanat_noFile');

        if (fileInput.files.length > 0) {
            // Update the display with the selected file name
            fileNameDisplay.textContent = fileInput.files[0].name;
        } else {
            // No file chosen, display the default message
            fileNameDisplay.textContent = 'No file chosen...';
        }
    }
    </script>
</body>
</html>