<!DOCTYPE html>
<!-- Created by CodingLab |www.youtube.com/c/CodingLabYT-->
<html lang="en" dir="ltr">

<head>
    <meta charset="UTF-8">
    <title>Abasyn - University</title>
    <!--<title> Login and Registration Form in HTML & CSS | CodingLab </title>-->
    <link rel="stylesheet" href="/static/style.css">
    <!-- Fontawesome CDN Link -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<body>

    <div class="wrapper">
        <a href="/"> <img src="static/Images/abasy-uni-logo.png" alt="" width="100px" height="100px" style="margin-left: 30px;"></a>
        <header>Matric Form.</header>
        <hr class="hr">
        <form style="margin-top: 30px;"  method="post">
            {% csrf_token %} 
            <div class="dbl-field">
                <div class="field">
                    <label for="idCardNumber">ID Card Number</label>
                    <input type="text" id="idCardNumber" name="idCardNumber" value="{{ idCard_number }}" placeholder="Enter your Id card no" disabled>
                   
                </div>
            
                <div class="field">
                    <label for="birthDate">Date of Birth</label>
                    <input type="text" id="birthDate" name="date_of_birth" value="{{ birth_date }}" placeholder="Enter Date of Birth">
                    
                </div>
            </div>
            <!--2nd-->

            <div class="dbl-field">
                <div class="field">
                    <label for="idCardNumber">Student Name</label>
                    <input type="text" name="student_name" value="{{ student_name }}" placeholder="Enter your Name" disabled>
                   
                </div>
            
                <div class="field">
                    <label for="birthDate">Father Name</label>
                    <input type="text" name="father_name" value="{{ father_name }}" placeholder="Enter your Father Name" disabled>
                    
                </div>
            </div>
            <!--3rd-->



            <div class="dbl-field">
                <div class="field">
                    <label for="idCardNumber">Email Address</label>
                    <input type="text" name="email_address" placeholder="Enter your Email Address">
                   
                </div>
            
                <div class="field">
                    <label for="birthDate">Address</label>
                    <input type="text" name="address" placeholder="Enter your Address">
                    
                </div>
            </div>
            
<!--4th-->
            <div class="dbl-field">
                <div class="field">
                    <label for="idCardNumber">Phone Number</label>
                    <input type="text" name="phone_number" placeholder="Enter your Phone no">
                   
                </div>
            
                <div class="field">
                    <label for="birthDate">Board</label>
                    <input type="text" name="board" value="{{ board }}" placeholder="Enter your Board" disabled>
                    
                </div>
            </div>
           

            <!--5th-->


            <div class="dbl-field">
                <div class="field">
                    <label for="idCardNumber">Total Marks</label>
                    <input type="text" name="total_marks" value="{{ total_marks }}" placeholder="Enter your Total Mark" disabled>
                   
                </div>
            
                <div class="field">
                    <label for="birthDate">Obtained Marks</label>
                    <input type="text" name="obtained_marks" value="{{ obtained_marks }}" placeholder="Enter your Obtain Mark" disabled>
                    
                </div>
            </div>

            <!--6Th-->

            
            <div class="dbl-field">
                <div class="field">
                    <label for="idCardNumber">Percentage</label>
                    <input type="text" name="percentage" value="{{ percentage }}" placeholder="Enter your Percentage" disabled>
                   
                </div>
            
                <div class="field">
                    <label for="birthDate">Serial Roll Number</label>
                    <input type="text" name="roll_no" value="{{ roll_no }}" placeholder="Enter your Serial no/Roll no" disabled>
                    
                </div>
            </div>
            
        

        <header style="margin-top: 50px;">Fsc Form.</header>
        <hr class="hr">
        

            <!--1st-->
            <div class="dbl-field">
            </div>
            

            <div class="dbl-field">
                <div class="field">
                    <label for="idCardNumber">Fsc Board</label>
                    <input type="text" name="fsc_board" value="{{ fsc_board }}" placeholder="Enter your Board" disabled>
                   
                </div>
            </div>

<!--2nd-->
            <div class="dbl-field">
            </div>
            

            <div class="dbl-field">
                <div class="field">
                    <label for="idCardNumber">Fsc Total Marks</label>
                    <input type="text" name="fsc_total_marks" value="{{ fsc_total_marks }}" placeholder="Enter your Total Mark" disabled>
                   
                </div>
            
                <div class="field">
                    <label for="birthDate">FSC Obtained Marks:</label>
                    <input type="text" name="fsc_obtained_marks" value="{{ fsc_obtained_marks }}" placeholder="Enter your Obtain Mark" disabled>
                    
                </div>
            </div>

            <!--3rd-->


            <div class="dbl-field">
            </div>
            

            <div class="dbl-field">
            
                <div class="field">
                    <label for="birthDate">FSC Percentage</label>
                    <input type="text" name="fsc_percentage" value="{{ fsc_percentage }}" placeholder="Enter your Percentage" disabled>
                    
                </div>
            </div>
        {% if cgpa %}
        <header style="margin-top: 50px;">University Program.</header>
        <hr class="hr" style="margin-bottom: 30px;">

            <div class="dbl-field">
                <div class="field">
                    <label for="uniCGPA">CGPA</label>
                    <input type="text" name="cgpa" value="{{ cgpa }}" disabled>
                   
                </div>
                <div class="field">
                    <label for="uniProgram">University Master Program</label>
                    <input type="text" name="uni_master_program" value="{{ university_master_program }}" disabled>
                   
                </div>
            </div>
            <div class="dbl-field">
                <div class="field">
                    <label for="uniYear">University Year</label>
                    <input type="text" name="uni_year" value="{{ univeristy_year }}" disabled>
                   
                </div>
            </div>
            {% endif %}

            <div class="button-area">
               <button type="submit">Submit</button>
               <button onclick="goBack()" type="button" style="margin-left: 10px;">Cancel</button>
            </div>

        </form>
    </div>
    <script>
        function goBack() {
            window.history.back();
        }
    </script>
</body>

</html>